@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);

body {
  background: url(http://dude1983.bitbucket.org/img/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 1.39%;
    background-color: #fff;
    font-family: 'museo_900',Arial,Helvetica,sans-serif;
}
.container {
    width: 40%;
    background-color: #D42179;
    padding: 0.69%;
    border-radius: 0.69%;
    box-shadow: 10px 10px 5px #888888;
}
label {
    color: #FFF;
}
div.result>span {
    font-weight: bold;
}

.header {
    color: #fff;
}

@media only screen and (min-width: 380px) and (max-width: 480px) {
    body {
        background-image: none !important;
    }
    
    .container {
        width: 100%;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
    .container {
        width: 100%;
        height: 100%;
    }
}



